@import url('https://fonts.googleapis.com/css?family=Nunito:300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6em;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 55, 75);
    font-family: nunito;
    
}
a {
    color: #666;
}
section:nth-of-type(2) {
    background-color: rgb(255, 251, 0);
}
section:nth-of-type(3) {
    background-color: rgb(0, 255, 119);
}
[class="fas fa-chevron-down"] {
    animation: down 3s infinite ease;
}
@keyframes down {
    0%, 100% {transform: translateY(0)}
    50% {transform: translateY(50px); opacity: 0.5;}
}
[class="fas fa-chevron-up"] {
    animation: up 3s infinite ease;
}
@keyframes up {
    0%, 100% {transform: translateY(50px)}
    50% {transform: translateY(0); opacity: 0.5;}
}
.effekt {
    margin-bottom: 40px;
}